{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       {{ with .Site.Params.contact.title }} <h2 class="section-title text-primary">{{ . }}</h2> {{ end }}
       Thank you for submitting your query. We will respond back to you as soon as we can.
      </div>
    </div>
  </div> <!-- Ends Container -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        &nbsp;
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a href="https://twitter.com/BlockChainNote" class="btn btn-twitter">Ask us on Twitter</a>
      </div>
      <div class="col-4">
        <a href="https://discordapp.com" class="btn btn-discord">Join us on Discord</a>
      </div>
      <div class="col-4">
        <a href="#" class="btn btn-telegram">Send a message on Telegram</a>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}