{{ define "main" }}

{{ "<!-- contact -->" | safeHTML }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12">
       {{ with .Site.Params.contact.title }} <h2 class="section-title text-primary">{{ . }}</h2> {{ end }}
       {{ with .Site.Params.contact.content }} <p>{{ . | safeHTML }}</p> {{ end }}
        <form action="https://formsubmit.co/7ce070339376b7c29248ca31a6e3ff21" method="post">
          <input type="text" id="name" name="name" placeholder="Name" class="form-control mb-4 shadow rounded-0">
          <input type="email" id="mail" name="mail" placeholder="Email" class="form-control mb-4 shadow rounded-0">
          <input type="text" id="subject" name="subject" placeholder="Subject" class="form-control mb-4 shadow rounded-0">
          <textarea name="message" id="message" placeholder="Issue/Query" class="form-control mb-4 shadow rounded-0"></textarea>
          <input type="hidden" name="_next" value="https://support.notebc.space/thankyou/">
          <button type="submit" value="send" class="btn btn-primary">Send</button>
        </form>
      </div>
    </div>
  </div> <!-- Ends Container -->
  <div class="container">
    <div class="row">
      <div class="col-12">
        &nbsp;
      </div>
    </div>
	<div class="row">
      <div class="col-12">
        You can also reach out to our vibrant NoteBC community. Click on one of the buttons below and send a message.  
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <a href="https://twitter.com/BlockChainNote" class="btn btn-twitter">Ask us on Twitter</a>
      </div>
      <div class="col-4">
        <a href="https://discord.gg/Kmhf4nF" class="btn btn-discord">Join us on Discord</a>
      </div>
      <div class="col-4">
        <a href="https://t.me/Noteblockchain_official" class="btn btn-telegram">Send a message on Telegram</a>
      </div>
    </div>
  </div>
</section>
{{ "<!-- /contact -->" | safeHTML }}

{{ end }}